- restaurant.reviews.each do |review|
  %p= review.thoughts
  %p= review.rating
  %span.endorsements_count= review.endorsements.count
  = 'endorsement'.pluralize review.endorsements.count
  = link_to 'Endorse Review', review_endorsements_path(review), class: 'endorsements-link'
